<!-- Chat Main Area -->
<div class="col-md-8 col-lg-9 chat-main flex-row justify-content-center">
    <div class="d-flex justify-content-center align-items-center">
        Chọn một cuộc trò chuyện để bắt đầu
    </div>
</div>