@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GallifreyPlanet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GallifreyPlanet.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/notification.css" />
    @RenderSection("Styles", required: false)
</head>
<body class="user-select-none bg-body-tertiary">
    <header>
        <nav class="navbar bg-body-tertiary fixed-top navbar-expand-sm navbar-toggleable-sm mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img
                        src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" 
                        alt="Logo"
                        width="30" 
                        height="24"
                        class="d-inline-block align-text-top"
                    >
                    GallifreyPlanet
                </a>
                <button 
                    class="navbar-toggler" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target=".navbar-collapse" 
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" 
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <div class="d-flex" style="gap: 0.5rem;">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <partial name="_Messages" />
                            <partial name="_Notifications" />
                        }
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container my-5 py-5">
        <partial name="_StatusMessage" for="@TempData["StatusMessage"]" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="modal fade" id="modalLogout" tabindex="-1" aria-labelledby="modalLogoutLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLogoutLabel">Đăng xuất tài khoản GallifreyPlanet</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc muốn đăng xuất?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <a class="btn btn-danger" asp-action="Logout" asp-controller="Account">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - GallifreyPlanet - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/notification.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        function switchTheme() {
            let currentTheme = $('html').attr('data-bs-theme');
            let newTheme = currentTheme === 'dark' ? 'light' : 'dark';
            $('html').attr('data-bs-theme', newTheme);
            localStorage.setItem('theme', newTheme);
        }

        let storedTheme = localStorage.getItem('theme');
        if (storedTheme) {
            $('html').attr('data-bs-theme', storedTheme);
        }

        $('#btnSwitch').on('click', switchTheme);
    </script>
</body>
</html>
