@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a 
                class="nav-link dropdown-toggle"
                href="#" 
                role="button" 
                data-bs-toggle="dropdown" 
                aria-expanded="false"
            >
                @User.Identity!.Name
            </a>
            <ul class="dropdown-menu dropdown-menu-end py-0">
                <li>
                    <a class="dropdown-item py-2" asp-action="Index" asp-controller="AccountManager">
                        Quản lý tài khoản
                    </a>
                </li>
                <li>
                    <a class="dropdown-item py-2" asp-action="Index" asp-controller="PublicProfile">
                        Hồ sơ
                    </a>
                </li>
                <li>
                    <a class="dropdown-item py-2" asp-action="Index" asp-controller="Blogs">
                        Bài viết
                    </a>
                </li>
                <hr class="m-0 p-0"/>
                <li>
                    <a class="dropdown-item py-2" asp-action="Logout" asp-controller="Account">
                        Đăng xuất
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Đăng ký</a>
        </li>
    }
</ul>