<a href="https://example.com/" target="_blank" class="btn btn-outline-primary rounded-pill" title="Nhắn tin">
    <i class="fa-solid fa-bell"></i>
</a>

<div class="notification-dropdown">
    <span id="notificationCount" class="badge text-bg-primary">0</span>
    <div id="notificationList" class="notification-list">
        <!-- Notifications will be inserted here -->
    </div>
</div>
