<div class="collapse navbar-collapse">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a
                href="#"
                class="dropdown-toggle text-decoration-none position-relative"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                title="Nhắn tin">
                <i class="fa-solid fa-bell"></i>
                <small
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    id="notification-count">
                    0
                </small>
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow border-0 py-0 overflow-auto" id="notification-list"></ul>
        </li>
    </ul>
</div>

<style>
    .unread-notification {
        font-weight: bold;
        background-color: #f0f8ff;
    }
    
    #notification-list {
        max-height: 75vh;
    }
</style>