<div class="collapse navbar-collapse">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a
                href="#"
                class="dropdown-toggle text-decoration-none position-relative"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                title="Nhắn tin">
                <i class="fa-solid fa-bell"></i>
                <small
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    id="notification-count">
                    0
                </small>
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow border-0 py-0 overflow-auto" id="notification-list">
                <li class="dropdown-header">
                    <div class="d-flex justify-content-between">
                        <h6 class="m-0 p-0">Thông báo</h6>
                        <button class="btn btn-link text-decoration-none" id="btnDeleteAll">Xóa tất cả thông báo</button>
                        <button class="btn btn-link text-decoration-none" id="btnMarkAllAsRead">Đánh dấu tất cả là đã đọc</button>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>