@model GallifreyPlanet.ViewModels.Account.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Auth.cshtml";
}

<section class="h-100">
	<div class="container h-100">
		<div class="row justify-content-sm-center h-100">
			<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
				<div class="text-center my-5">
					<a asp-controller="Home" asp-action="Index">
						<img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo" width="100">
					</a>
				</div>
				<div class="card shadow-sm">
					<div class="card-body p-5">
						<h1 class="fs-4 card-title fw-bold mb-4">Đăng nhập</h1>
						<form asp-action="Login" method="POST" class="needs-validation" novalidate="">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<div class="mb-3">
								<label asp-for="UsernameOrEmail" class="mb-2 text-muted"></label>
								<span class="text-danger">*</span>
								<input asp-for="UsernameOrEmail" type="text" class="form-control" required autofocus>
								<span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
							</div>

							<div class="mb-3">
								<div class="mb-2 w-100">
									<label asp-for="Password" class="text-muted"></label>
									<span class="text-danger">*</span>
									<a class="float-end" asp-area="" asp-controller="Account" asp-action="ForgotPassword">
										Quên mật khẩu?
									</a>
								</div>
								<input asp-for="Password" type="password" class="form-control" required>
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>

							<div class="mb-3 form-check">
								<label class="form-check-label">
									<input asp-for="RememberMe" class="form-check-input" />
									@Html.DisplayNameFor(a => a.RememberMe)
								</label>
							</div>

							<div class="d-flex align-items-center">
								<button type="submit" class="btn btn-primary ms-auto">
									Đăng nhập
								</button>
							</div>
						</form>
					</div>
					<div class="card-footer py-3 border-0">
						<div class="text-center">
							Chưa có tài khoản?
							<a class="text-dark" asp-area="" asp-controller="Account" asp-action="Register">Đăng ký ngay</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
