@model GallifreyPlanet.ViewModels.Auth.SignupViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Auth.cshtml";
}

<section class="container">
	<div class="row justify-content-sm-center">
		<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
			<div class="text-center m-5	">
				<img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo" width="100">
			</div>
			<div class="card shadow-sm">
				<div class="card-body px-5 py-4">
					<h1 class="fs-4 card-title fw-bold mb-4">Đăng ký tài khoản </h1>
					<form asp-action="Register" method="POST" class="needs-validation" novalidate="">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="mb-3">
							<label asp-for="Name" class="mb-2 text-muted"></label>
							<input asp-for="Name" type="text" class="form-control" required autofocus>
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>

						<div class="mb-3">
							<label asp-for="Email" class="mb-2 text-muted"></label>
							<input asp-for="Email" type="email" class="form-control" required>
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>

						<div class="mb-3">
							<label asp-for="Password" class="mb-2 text-muted"></label>
							<input asp-for="Password" type="password" class="form-control" required>
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>

						<div class="mb-3">
							<label asp-for="ConfirmPassword" class="mb-2 text-muted"></label>
							<input asp-for="ConfirmPassword" type="password" class="form-control" required>
							<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
						</div>

						<p class="form-text text-muted mb-3">
							Bằng việc đăng ký tài khoản, bạn chấp nhận với các
							<a asp-area="" asp-controller="Home" asp-action="Privacy">điều khoản</a>
							của chúng tôi
						</p>

						<div class="align-items-center d-flex">
							<button type="submit" class="btn btn-primary ms-auto">
								Đăng ký
							</button>
						</div>
					</form>
				</div>
				<div class="card-footer py-3 border-0">
					<div class="text-center">
						Đã có tài khoản?
						<a class="text-dark" asp-area="" asp-controller="Account" asp-action="Login">Đăng nhập ngay</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}