
@{
    ViewData[index: "Title"] = "Xác nhận khôi phục mật khẩu";
    Layout = "~/Views/Shared/_Auth.cshtml";
}

<h1>@ViewData[index: "Title"]</h1>
<p>
    Khôi phục mật khẩu thành công. Vui lòng <a asp-area="" asp-controller="Account" asp-action="Login">đăng nhập lại</a>.
</p>
