@{
    ViewBag.Title = "Sắp Ra Mắt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/coming-soon.css">
}

<div class="logo">
    <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="Logo"/>
</div>

<h1>Sắp Ra Mắt</h1>

<div class="message">
    <p>Chúng tôi đang nỗ lực để mang đến cho bạn điều tuyệt vời nhất.</p>
    <p>Hãy đón chờ những thông tin mới nhất!</p>
</div>

<div class="timer">
    <div class="timer-item">
        <div class="timer-number" id="days">00</div>
        <div class="timer-label">Ngày</div>
    </div>
    <div class="timer-item">
        <div class="timer-number" id="hours">00</div>
        <div class="timer-label">Giờ</div>
    </div>
    <div class="timer-item">
        <div class="timer-number" id="minutes">00</div>
        <div class="timer-label">Phút</div>
    </div>
    <div class="timer-item">
        <div class="timer-number" id="seconds">00</div>
        <div class="timer-label">Giây</div>
    </div>
</div>

<div class="subscribe">
    <input type="email" placeholder="Nhập email của bạn để nhận thông báo"/>
    <button>Đăng Ký Ngay</button>
</div>

<div class="social-links">
    <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
    <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
    <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
</div>

@section Scripts {
    <script src="~/js/coming-soon.js"></script>
}