.unread-notification {
    font-weight: bold !important;
    background-color: var(--bs-primary-bg-subtle);
}

#notification-list {
    max-height: 75vh;
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

#notification-list .dropdown-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    transition: background-color 0.3s;
}

.notification-message {
    font-size: 14px;
    margin-bottom: 0;
}

.notification-time {
    font-size: 12px;
    margin-top: 5px;
}

.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.toast {
    padding: 15px 25px;
    border-radius: 5px;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}