@model GallifreyPlanet.ViewModels.AccountManager.PrivacySettingsViewModel

 @{
     ViewData["Title"] = "Cài đặt quyền riêng tư";
     Layout = "~/Views/AccountManager/_Layout.cshtml";
 }

<h2>Cài đặt quyền riêng tư</h2>

<form asp-action="PrivacySettings" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3 form-check">
        <input asp-for="ShowEmail" type="checkbox" class="form-check-input" />
        <label asp-for="ShowEmail" class="form-check-label"></label>
    </div>
    <div class="mb-3 form-check">
        <input asp-for="AllowMessagesFromNonFriends" type="checkbox" class="form-check-input" />
        <label asp-for="AllowMessagesFromNonFriends" class="form-check-label"></label>
    </div>
    <button type="submit" class="btn btn-primary">Lưu cài đặt</button>
</form>